<div>
    <div>
        <h1>Formulario de Usuarios</h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field appearance="outline" *ngIf="edicion">
			<mat-label>Codigo</mat-label>
			<input matInput formControlName="codigo" readonly>
		</mat-form-field>

        <mat-form-field appearance="outline">
			<mat-label>Usuario</mat-label>
			<input matInput formControlName="usuario">
		</mat-form-field>

        <mat-form-field appearance="outline">
			<mat-label>Contraseña</mat-label>
			<input matInput formControlName="contrasena" [type]="oculto ? 'password' : 'text'">
			<button mat-icon-button matSuffix type="button" (click)="verContrasena($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oculto">
				<mat-icon>{{oculto ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
		</mat-form-field>

        <mat-slide-toggle *ngIf="edicion" formControlName="habilitado" [checked]="form.get('habilitado')?.value">Habilitado</mat-slide-toggle>

        <mat-form-field appearance="outline">
			<mat-label>Nombre</mat-label>
			<input matInput formControlName="nombre">
		</mat-form-field>

        <mat-form-field appearance="outline">
			<mat-label>Telefono</mat-label>
			<input matInput formControlName="telefono">
		</mat-form-field>

		<mat-form-field appearance="outline" *ngIf="edicion">
			<mat-label>Correo</mat-label>
			<input matInput formControlName="correo">
		</mat-form-field>

        <mat-form-field appearance="outline" *ngIf="edicion">
			<mat-label>Foto</mat-label>
			<input matInput formControlName="foto">
		</mat-form-field>

        
        <button mat-fab extended color="primary" (click)="aceptar()"><mat-icon>thumb_up_off_alt</mat-icon>Aceptar</button>
		<button mat-fab extended color="warn" routerLink="/usuarios"><mat-icon>do_not_disturb</mat-icon>Cancelar</button>
    </form>
</div>