<div class="todo">
	<span>
		<button mat-fab extended matTooltip="Nuevo Registro" [routerLink]="['crear']"><mat-icon>library_add</mat-icon>AGREGAR</button>
		<h1>Lista de Reservas</h1>	
	</span>
	<main>
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
			<ng-container matColumnDef="a">
				<th mat-header-cell *matHeaderCellDef> Estado </th>
				<td mat-cell *matCellDef="let element"> {{element.reservaEstado}} </td>
			</ng-container>

			<ng-container matColumnDef="b">
				<th mat-header-cell *matHeaderCellDef> Fecha </th>
				<td mat-cell *matCellDef="let element"> {{element.reservaFecha}} </td>
			</ng-container>

			<ng-container matColumnDef="c">
				<th mat-header-cell *matHeaderCellDef> Horario </th>
				<td mat-cell *matCellDef="let element"> {{element.reservaHoraInicio.substring(0,5)}} - {{element.reservaHoraFin.substring(0,5)}}  </td>
			</ng-container>

			<ng-container matColumnDef="d">
				<th mat-header-cell *matHeaderCellDef> Mascota </th>
				<td mat-cell *matCellDef="let element"> {{element.mascota.macotaNombre}} </td>
			</ng-container> 

			<ng-container matColumnDef="e">
				<th mat-header-cell *matHeaderCellDef> Paseador </th>
				<td mat-cell *matCellDef="let element"> {{element.paseador.usuario.usuarioNombre}} </td>
			</ng-container>  

			<ng-container matColumnDef="f">
				<th mat-header-cell *matHeaderCellDef> Acciones </th>
				<td mat-cell *matCellDef="let element">
					<button mat-mini-fab matTooltip="Editar" color="primary" [routerLink]="['editar',element.reservaId]"><mat-icon>edit</mat-icon></button>
					<button mat-mini-fab matTooltip="Eliminar" color="warn" (click)="deletear(element.reservaId)"><mat-icon>delete</mat-icon></button>
				</td>
			</ng-container>
  
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</main>
</div>