<div class="landing">
    <button mat-icon-button (click)="irArriba()" title="Volver arriba" class="ir-arriba">
        <mat-icon>arrow_upward</mat-icon>
    </button>
	<nav class="nav">
		<div class="logo">
			<img src="assets/res/urpet.jpg" alt="Logo de la empresa" width="65" height="65">
			UR PET
		</div>
		<ul class="menu">
			<li><a href="#Nosotros">Nosotros</a></li>
			<li><a href="#Servicios">Servicios</a></li>
			<li><a href="#Membresia">Membresia</a></li>
			<li><a href="#Contactanos">Contactanos</a></li>
			<li><a routerLink="login">Ingresar</a></li>
			<li><a routerLink="login">Registrarse</a></li>
		</ul>
	</nav>
	<header>
		<div class="image-container">
			<img src="assets/img/paseadores.jpg" alt="Imagen de un paseador">
			<img src="assets/img/perro.jpg" alt="Imagen de un perro">
		</div>
		<div class="banner-text">
			<h1>Ur Pet, tu amigo y compañero para el cuidado de tu mascota</h1>
			<h2 class="subtext">Contamos con una variedad de paseadores que buscan darle amor a tu mascota para que se sienta a gusto y a usted también</h2>
			<h3 class="boton">Descargala para IOS y Android</h3>
			<div class="tiendas">
				<img src="assets/img/btn_apple.png" alt="Imagen de la App Store">
				<img src="assets/img/btn_google.png" alt="Imagen de Google Play">
			</div>
		</div>	
	</header>
	<main>
		<section id="Nosotros">
			<div class="texto">
				<h1>Bienvenido, somos<br>Ur Pet</h1>
				<p>La misión de nuestra empresa es convertirse y concentrarse en ser uno de los mejores aplicativos de servicios para mascotas con un sistema inteligente y geolocalización para personas que se encuentran sin tiempo por los estudios o el trabajo. Así tu mascota recibirá mucho amor y no estará sola.</p>
				<button (click)="linkExterno()" class="btn">Saber más</button>
			</div>
			<img src="assets/img/mujerconperro.jpg" alt="Imagen de una mujer con su perro">
        </section>

		<section id="Servicios">
            <h1 class="section-title">¿Qué ofrecemos?</h1>
            <div class="servicios-container">
                <div>
                    <h2>Universitarios</h2>
                    <img src="assets/img/estudiantes.jpg" alt="estudiantes">
                    <ul>
                        <li>Servicio para cuidar o pasear a tu mascota</li>
                        <li>Información de los paseadores</li>
                        <li>Sistema GPS para mayor seguridad</li>
                        <li>Personal experimentado</li>
                        <li>Amor y cariño para tu mascota</li>
                        <li>Importancia y priorizar tu tiempo</li>
                    </ul>
                </div>
                <div>
                    <h2>Trabajadores</h2>
                    <img src="assets/img/trabajadores.jpg" alt="Trabajadores">
                    <ul>
                        <li>Servicio para cuidar o pasear a tu mascota</li>
                        <li>Información de los paseadores</li>
                        <li>Sistema GPS para mayor seguridad</li>
                        <li>Personal experimentado</li>
                        <li>Amor y cariño para tu mascota</li>
                        <li>Importancia y priorizar tu tiempo</li>
                    </ul>
                </div>
            </div>
        </section>

		<section id="startup-section">
            <h1 class="titulostartup">Ur Pet como StartUp</h1>
			<span>
				<p>Somos un grupo de estudiantes de la Universidad Peruana de Ciencias Aplicadas con espíritu emprendedor e innovador. Buscamos que nuestros usuarios puedan adquirir un servicio eligiendo a un paseador de mascotas de acuerdo a su experiencia de una manera segura y sencilla, para luego visualizar la geolocalización de varios lugares a tiempo real en el teléfono y así tener más confianza con el servicio que ofrecemos.</p>
				<img src="assets/img/reunion.jpg" alt="Imagen de un grupo de universitarios">
			</span>
        </section>

		<section id="Membresia">
            <h1>Aprovecha nuestras promociones!!!</h1>
            <div class="imagenes-container5">
                <img src="assets/img/will.gif" alt="GIF de persona sorprendida">
                <div class="item">
					<h2>Basic</h2><h1>S/ 30</h1><h2>1 Mes</h2>
				</div>
                <div class="item">
					<h2>Standard</h2><h1>S/ 60</h1><h2>6 Meses</h2>
				</div>
                <div class="item">
					<h2>Vip</h2><h1>S/ 100</h1><h2>1 Año</h2>
				</div>
            </div>
            <div class="titulo-beneficios">
                <h2 class="nose">Beneficios de la membresía:</h2>
                <ul>
                    <li>Mayor contacto directo con los paseadores de mascotas</li>
                    <li>Funciones más avanzadas en la app</li>
                    <li>No tendrás publicidad en la página web y en el aplicativo móvil</li>
                </ul>
            </div>
        </section>

		<section id="Contactanos">
            <div class="contact-info">
				<h1>¿Dudas? ¿Sugerencias? ¡Escríbenos!</h1>
                <ul>
					<h2>Contactanos</h2><br>
                    <li><img src="assets/img/gm.png" alt="gmail"> Pamperurpet&#64;gmail.com</li>
                    <li><img src="assets/img/fb.png" alt="facebook"> &#64;Pamperurpet</li>
                    <li><img src="assets/img/ig.png" alt="instagram"> &#64;Pamperurpet</li>
                </ul>
            </div>
            <div class="form-container">
                <form>
                    <div class="form-group">
                        <input type="text" id="apellido" placeholder="Apellidos" >
                        <input type="text" id="nombre" placeholder="Nombres" >
                    </div>
                    <div class="form-group">
                        <input type="text" id="correo" placeholder="Correo" >
                        <input type="text" id="telefono" placeholder="Teléfono" >
                    </div>
                    <div class="form-group">
                        <input type="text" id="tipo" placeholder="Universitario/Trabajador" >
                    </div>
                    <div class="form-group">
                        <textarea id="sugerencia" placeholder="¿Cómo podemos ayudarte?" ></textarea>
                    </div>
                    <div class="submit-button">
                        <button type="button" onclick="return false;">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
	</main>
</div>