<div class="diseño">
	<div class="menu" [ngClass]="colapsado ? 'menucolapsado' : ''" *ngIf="verificar()">
		<div class="cabecera">
			<img class="logo" matTooltip="Ajustar Menu" [matTooltipPosition]="'below'" src="assets/res/urpet.jpg" alt="logo" (click)="colapsado=!colapsado;">
			<div class="titulo" *ngIf="colapsado">UR PET</div>
		</div>

		<ul class="opciones">
			<li class="item">
				<a matRipple class="enlace" routerLink="/inicio" matTooltip="Ir al Inicio" [matTooltipPosition]="'right'" [matTooltipDisabled]="colapsado">
					<mat-icon>home</mat-icon>
					<span class="texto" *ngIf="colapsado">Inicio</span>
				</a>
			</li>
			<li class="item">
				<a matRipple class="enlace" routerLink="/mascotas" matTooltip="Mis Mascotas" [matTooltipPosition]="'right'" [matTooltipDisabled]="colapsado">
					<mat-icon>pets</mat-icon>
					<span class="texto" *ngIf="colapsado">Mascotas</span>
				</a>
			</li>
			<li class="item">
				<a matRipple class="enlace" routerLink="/reservas" matTooltip="Mi Historial" [matTooltipPosition]="'right'" [matTooltipDisabled]="colapsado">
					<mat-icon>history</mat-icon>
					<span class="texto" *ngIf="colapsado">Historial</span>
				</a>
			</li>
			<li class="item">
				<a matRipple class="enlace" routerLink="/billeteras" matTooltip="Mi Billetera" [matTooltipPosition]="'right'" [matTooltipDisabled]="colapsado">
					<mat-icon>attach_money</mat-icon>
					<span class="texto" *ngIf="colapsado">Billetera</span>
				</a>
			</li>
			<li class="item">
				<a matRipple class="enlace" routerLink="/membresias" matTooltip="Membresia" [matTooltipPosition]="'right'" [matTooltipDisabled]="colapsado">
					<mat-icon>card_membership</mat-icon>
					<span class="texto" *ngIf="colapsado">Membresia</span>
				</a>
			</li>
			<li class="item">
				<a matRipple class="enlace" routerLink="/usuarios" matTooltip="Mi Cuenta" [matTooltipPosition]="'right'" [matTooltipDisabled]="colapsado">
					<mat-icon>account_circle</mat-icon>
					<span class="texto" *ngIf="colapsado">Cuenta</span>
				</a>
			</li>	
			<li class="item">
				<a matRipple class="enlace" routerLink="/" (click)="cerrar()" matTooltip="Cerrar Sesion" [matTooltipPosition]="'right'" [matTooltipDisabled]="colapsado">
					<mat-icon>logout</mat-icon>
					<span class="texto" *ngIf="colapsado">Cerrar Sesion</span>
				</a>
			</li>		
		</ul>

		<div class="usuario">
			<img matTooltip="Ponganos 20" [matTooltipPosition]="'above'" class="imagen" src="assets/res/userpic.jpg" alt="imagen">
			<div class="info" *ngIf="colapsado">
				Arturo<br><b>{{ role }}</b>
			</div>
		</div>
	</div>
	<div class="contenido" [style.margin-left]="verificar() ? (colapsado ? '14rem' : '5rem') : '0'">
		<router-outlet></router-outlet>
	</div>
</div>

<mat-menu #menu="matMenu">
	<button mat-menu-item>Item 1</button>
	<button mat-menu-item>Item 2</button>
</mat-menu>