<div class="todo">
	<section>
    <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field *ngIf="edicion" appearance="outline">
			<mat-label>Codigo</mat-label>
			<input matInput formControlName="codigo" readonly>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Texto</mat-label>
			<textarea matInput formControlName="texto"></textarea>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Puntuacion</mat-label>
			<input matInput formControlName="puntuacion">
		</mat-form-field>
        
		<mat-form-field appearance="outline">
			<mat-label>Reserva</mat-label>
			<mat-select formControlName="reserva">
				<mat-option *ngFor="let c of listaReservas" [value]="c.reservaId">
					{{c.reservaId}}
				</mat-option>
			</mat-select>
		</mat-form-field>

       <span>
		<button mat-fab extended color="primary" (click)="aceptar()"><mat-icon>thumb_up_off_alt</mat-icon>Aceptar</button>
		<button mat-fab extended color="warn" routerLink="/comentarios"><mat-icon>do_not_disturb</mat-icon>Cancelar</button>
	   </span>
    </form>
</section>
</div>